# Ignore all content within the root of the repository.
/*

# Only version specific files.
!/.vagrant-virtualhosts
!/.gitignore
!/LICENSE
!/README.md
!/Vagrantfile

# Ignore specific files
/.vagrant-virtualhosts/config/websites.cfg
